<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/hotelSite.styles.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
   @*Header Start*@
   <partial name="_HeaderPartial"/>
   @*Header End*@

   @*Carousel Start*@
   <partial name="_CarouseelPartial"/>
    @*Carousel End*@

   @*About Start*@
   <partial name="_AboutPartial"/>
    @*About End*@

   @*Rooms Start*@
   <partial name="_RoomsPartial"/>
    @*Rooms End*@

    @*Gallery Start*@
    <partial name="_GalleryPartial"/>
    @*Gallery End*@

    @*Service Start*@
    <partial name="_ServicePartial"/>
    @*Service End*@

    @*Testimonial Start*@
    <partial name="_TestimonialPartial" />
    @*Testimonial End*@

    @*Contact Start*@
    <partial name="_ContactPartial" />
    @*Contact End*@

    @*Footer Start*@
    <partial name="_FooterPartial" />
    @*Footer End*@
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
