<div class="container-xxl py-5" id="iletisim">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h4 class="section-title text-center text-primary mb-1">Contact</h4>
        </div>
        <div class="row g-4 m-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">Phone</h6>
                        <p><i class="fa fa-envelope-open text-primary me-2"></i><a href="tel:0123 123 12 12">0123 123 12 12</a></p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">E-mail</h6>
                        <p><i class="fa fa-envelope-open text-primary me-2"></i><a href="mailto:info@mail.com">info@mail.com</a></p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="section-title text-start text-primary text-uppercase">Address</h6>
                        <address>Lorem Ipsum dolor sit amet</address>
                    </div>
                </div>
            </div>
            <div class="col wow fadeIn" data-wow-delay="0.1s">
                <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50470.02846871995!2d-122.472619398613!3d37.757762678321114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan%20Francisco%2C%20Kaliforniya%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1680886156998!5m2!1str!2str"
                        frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
</div>
