<div class="container-fluid bg-dark text-light footer"
        data-wow-delay="0.1s">
    <div class="container pb-4 m-4">
        <a href="#"><h4 class="text-white text-uppercase mb-3">Hotel</h4></a>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="rounded">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">
                        Contact
                    </h6>
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt me-3"></i>Lorem Ipsum odlor sit amet
                    </p>
                    <p class="mb-2">
                        <i class="fa fa-phone-alt me-3"></i><a href="tel:0123 123 12 12">
                            0123 123 12 12
                        </a>
                    <p class="mb-2">
                        <i class="fa fa-envelope me-3"></i><a href="mailto:info@mail.com">info@mail.com</a>
                    </p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn btn-outline-light btn-social" href="https://www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">
                            Menu
                        </h6>
                        <a href="#" class="btn btn-link">Home</a>
                        <a href="#" class="btn btn-link">About</a>
                        <a href="#" class="btn btn-link">Rooms</a>
                        <a href="#" class="btn btn-link">Gallery</a>
                        <a href="#" class="btn btn-link">Contact</a>
                    </div>
                    <div class="col-md-9">
                        <p>
                            Lorem ipsum dolor sit amet. Quo accusamus adipisci sit cumque facilis sit beatae iste.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; All Right Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
