<div class="container-xxl py-5" id="gallery">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h4 class="section-title text-center text-primary mb-1">Gallery</h4>
        </div>
        <div class="row m-4">
            <div class="col-lg-6">
                <div class="row g-3 gallery-wrap">
                    <div class=" col-6 text-start overflow-hidden ">
                        <a href="img/oda1.jpg" data-type="image" data-fslightbox="mygallery">
                            <img class="img-fluid rounded w-100 wow zoomIn hoverEffect "
                                 data-wow-delay="0.3s"
                                 src="img/oda1.jpg" />
                        </a>
                    </div>
                    <div class="col-6 text-start overflow-hidden ">
                        <a href="img/oda2.jpg" data-type="image" data-fslightbox="mygallery">
                            <img class="img-fluid rounded w-100 wow zoomIn hoverEffect "
                                 data-wow-delay="0.7s"
                                 src="img/oda2.jpg" />
                        </a>
                    </div>
                    <div class="col-6 text-end overflow-hidden ">
                        <a href="img/oda3.jpg" data-type="image" data-fslightbox="mygallery">
                            <img class="img-fluid rounded w-100 wow zoomIn hoverEffect "
                                 data-wow-delay="0.1s"
                                 src="img/oda3.jpg"
                                 style="margin-top: 25%" />
                        </a>
                    </div>
                    <div class=" col-6 text-end overflow-hidden ">
                        <a href="img/oda4.jpg" data-type="image" data-fslightbox="mygallery">
                            <img class="img-fluid rounded w-100 wow zoomIn hoverEffect "
                                 data-wow-delay="0.5s"
                                 src="img/oda4.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end overflow-hidden ">
                        <a href="img/oda5.jpg" data-type="image" data-fslightbox="mygallery">
                            <img class="img-fluid rounded w-100 wow zoomIn hoverEffect "
                                 data-wow-delay="0.1s"
                                 src="img/oda5.jpg"
                                 style="margin-top: 25%" />
                        </a>
                    </div>
                    <div class="col-6 text-start overflow-hidden ">
                        <a href="img/oda6.jpg" data-type="image" data-fslightbox="mygallery">
                            <img class="img-fluid rounded w-100 wow zoomIn hoverEffect"
                                 data-wow-delay="0.3s"
                                 src="img/oda6.jpg"
                                 style="height:auto" />
                        </a>

                    </div>
                    <div class="col-6 text-end overflow-hidden ">
                        <a href="img/kingLife.jpg" data-type="image" data-fslightbox="mygallery">
                            <img class="img-fluid rounded w-100 wow zoomIn hoverEffect "
                                 data-wow-delay="0.5s"
                                 src="img/kingLife.jpg" />
                        </a>

                    </div>
                    <div class="col-6 text-start overflow-hidden ">
                        <a href="img/disGorunum.jpg" data-type="image" data-fslightbox="mygallery">
                            <img class="img-fluid rounded w-100 wow zoomIn hoverEffect gallery-image"
                                 data-wow-delay="0.7s"
                                 src="img/disGorunum.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
